**/.idea/*
coverage/
*.log
node_modules/
*.swp
*.iml
.nyc_output/
**/.stack-work
**/.HTF
public/
doc/
simple-doc/
/lib/.precomp
/copy_sources_to_one_file.raku
/sources.txt
/tmp.json
/.history
/.lh
.cursorrules
