<html>
<head>
<meta charset="utf-8">
<title>ts-opt library documentation</title>
{{ include "styles.vto" }}
</head>
<body>
<h1>Index</h1>

<div class="info-box">
Work In Progress. Some links might be broken.
</div>

These "simple docs" are meant mainly for purposes of search indexing and automated processing (for example AI assistants).
If you are a human, please use the nicer <a href="..">documentation</a>.

{{- for cls of data }}
	<h2>{{ cls.className }}</h2>
	<ul>
	{{- for member of cls.members -}}
		<li>
		 <a href="{{ cls.className }}/{{ member.name }}.html">{{ member.name }}</a>
		</li>
	{{ /for }}
	</ul>
{{ /for }}
</body>
</html>
