{{ set pathPrefix = '../' }}
<html>
<head>
<meta charset="utf-8">
<title>{{name}} ({{type}}) - ts-opt library documentation</title>
{{ include "styles.vto" }}
</head>
<body>
<h1>{{name}} ({{type}})</h1>
{{html}}
<hr/>
<a href="..">Back to index</a>
</body>
</html>
